*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: $darker;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: $white;
}
@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}