*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: $one;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: $eight;
}
@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}
.disabled {
    cursor: default;
    opacity: 0.3;
    &:hover {
        cursor: default;
        border-bottom-color: transparent;
    }
}