.container {
    max-width: 1300px;
    position: relative;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 440px auto;
    @include large {
        grid-template-columns: 340px auto;
    };
    @include medium {
        grid-template-columns: unset;
    };
}