main {
    @include medium {
        position: relative;
        height: unset;
        margin: 44pt 0 40px 0;
        top: 0;
        background: transparent
    }
    @include flex-ctr;
    grid-column: 1;
    height: calc(100vh - 44pt);
    width: 100%;
    position: sticky;
    top: 44pt;
    background: $two;
    padding: 0 40px;
    border: solid 1.4pt $four;
    border-top: none;
    border-bottom: none;
    & .header {
        @include flex-col;
        width: 100%;
        &__brand {
            @include small {
                font-size: 33pt;
            }
            align-self: center;
            padding: 3pt 10pt;
            background: $two;
            font-size: 37pt;
            border: solid 1.7pt $seven;
            box-shadow: 10pt 10pt 0 $four;
            & .gold {
                color: $six;
                font-weight: 500;
            }
        }
        &__text {
            @include small {
                font-size: 12pt;
            }
            align-self: center;
            text-align: center;
            margin-top: 20pt;
            max-width: 270px;
            font-size: 13pt;
            letter-spacing: 0.03em;
            & em {
                color: $six;
            }
        }
    }
}