main {
    @include medium {
        position: relative;
        height: unset;
        margin: 44pt 0 40px 0;
        top: 0;
        background: transparent
    }
    @include flex-ctr;
    grid-column: 1;
    height: calc(100vh - 44pt);
    width: 100%;
    position: sticky;
    top: 44pt;
    padding: 0 40px;
    background: $two;
    border: solid 1.4pt $five;
    border-top: none;
    border-bottom: none;
    & .header {
        @include flex-col;
        width: 100%;
        &__brand {
            @include small {
                font-size: 30pt;
            }
            align-self: center;
            padding: 4pt 13pt;
            background: $three;
            font-size: 34pt;
            letter-spacing: normal;
            border: solid 1.7pt $seven;
            & .gold {
                color: $six;
                font-weight: 500;
            }
        }
        &__text {
            @include small {
                margin-top: 12pt;
                font-size: 13pt;
            }
            align-self: center;
            text-align: center;
            margin-top: 17pt;
            max-width: 300px;
            font-size: 14pt;
            & em {
                color: $six;
            }
        }
    }
}