main {
    @include medium {
        position: relative;
        height: unset;
        margin: 130px 0 100px 0;
        top: 0;
    }
    @include flex-ctr;
    grid-column: 1;
    height: calc(100vh - 70px);
    width: 100%;
    position: sticky;
    top: 70px;
    bottom: 0;
    padding: 0 40px;
    border: solid 1.4pt $black;
    border-top: none;
    border-bottom: none;
        & .header {
            @include flex-col;
            width: 100%;
                &__brand {
                    @include medium {
                        align-self: center;
                    }
                    align-self: flex-start;
                    background: $dark;
                    font-size: 3em;
                    padding: 0 20pt 4pt 20pt;
                    border: solid 0.07em $white;
                    box-shadow: 10pt 10pt 0 $black;
                }
                &__text {
                    @include medium {
                        align-self: center;
                    }
                    @include small {
                        max-width: 240px;
                    }
                    align-self: flex-end;
                    color: $light;
                    font-size: 1.1em;
                    text-align: right;
                    margin-top: 40px;
                    max-width: 300px;
                }
        }
}