nav {
    grid-column: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
        & a {
            text-transform: uppercase;
            font-size: 14pt;
            letter-spacing: 0.1em;
            padding: 0 4pt 7pt 4pt;
            border-bottom: solid 1.7pt $dark;
            transition: border-color 270ms ease-in-out;
                &:hover {
                    border-bottom-color: $white;
                }
        }
}