.cartContent {
    @include small {
        padding: 30px 17px;
    }
    @include flex-col;
    padding: 40px;
    animation: fadeIn 400ms ease-in-out both 170ms;
    & h2 {
        margin-bottom: 47px;
        font-weight: 500;
    }
}
.cartContainer {
    @include flex-col;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 510pt;
    & > h3 {
        @include small {
            font-size: 12pt;
        }
        font-size: 13pt;
    }
    &-buttons {
        margin-top: 30px;
        & button {
            @include small {
                margin: 10px 30px 40px 0;
            }
            cursor: pointer;
            background: $four;
            border: none;
            padding: 14px 30px;
            margin: 10px 40px 40px 0;
            font-size: 11pt;
            transition: background-color 200ms ease-in-out;
            &:hover {
                background: $five;
            }
        }
    }
    &-pane {
        @include small {
            grid-template-columns: 1.7fr 2fr 1fr;
            justify-content: center;
            padding: 17px 0;
            border-left: solid 10pt $seven;
        }
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        background: $three;
        padding-right: 30px;
        width: 100%;
        justify-items: flex-start;
        align-items: center;
        & :nth-child(n) {
            @include small {
                font-size: 11pt;
            }
            display: block;
        }
        &__heading {
            margin-left: 10px;
            font-size: 13pt;
        }
        &__text {
            margin: 0 10px;
            font-size: 12pt;
        }
        &__price {
            margin-right: 10px;
            font-size: 12pt;
        }
        &--total {
            @include small {
                margin-top: 10px;
                padding-right: unset;
            }
            background: transparent;
            border: none;
            padding-right: 30px;
            margin-top: 30px;
            color: $six;
            & .totalText {
                @include small {
                    grid-column: 2;
                    font-size: 13pt;
                }
                grid-column: 3;
                margin-left: 17px;
                font-size: 14pt;
                font-weight: 500;
            }
            & .totalPrice {
                @include small {
                    grid-column: 3;
                    font-size: 12pt;
                }
                grid-column: 4;
                justify-self: flex-end;
                margin-right: 17px;
                font-size: 14pt;
                font-weight: 500;
            }
        }
    }
    & .shade {
        @include small {
            display: none;
        }
        position: relative;
        z-index: 10;
        background: $six;
        height: 110px;
    }
    & img {
        @include small {
            display: none;
        }
        position: relative;
        opacity: 0.7;
        max-width: 170px;
        height: 100%;
        border-right: solid 10pt $seven;
    }
}