#form {
    @include small {
        padding: 30px 17px;
    }
    padding: 40px;
    animation: fadeIn 400ms ease-in-out both 140ms;
    & h2 {
        margin-bottom: 47px;
        font-weight: 500;
    }
    & button {
        cursor: pointer;
        outline: none;
        padding: 17px;
        background-color: $four;
        border: none;
        margin-top: 47px;
        font-size: 11pt;
    }
}
.form {
    @include small {
        grid-template-columns: unset;
        gap: 0;
        padding: 30px 20px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
    max-width: 570pt;
    background: $two;
    padding: 30px;
    border: solid 3pt $five;
    border-top: solid 14.7pt $five;
    &-bloc {
        @include flex-col;
        max-width: 270px;
        margin-bottom: 10px;
        & label {
            @include small {
                font-size: 11pt
            }
            @include flex-ctr;
            justify-content: flex-start;
            color: $eight;
            font-size: 12pt;
            & .fas {
                margin-right: 10px;
                font-size: 12pt;
            }
        }
        & input {
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            cursor: pointer;
            outline: none;
            background: transparent;
            margin: 7pt 0;
            padding: 1.7pt 4.7pt 4.7pt 1.7pt;
            font-size: 12pt;
            border: none;
            border-bottom: solid 1.7pt $five;
            transition: border-color 110ms ease-in-out;
            &:hover, &:focus {
                border-bottom-color: $seven;
            }
        }
    }
}
.valid {
    color: $six;
}
.unvalid {
    color: $four;
}