.productList {
    @include medium {
        grid-column: unset;
        padding-bottom: 30px
    }
    @include flex-col;
    position: relative;
    z-index: 4;
    grid-column: 2;
    width: 100%;
    padding-bottom: 40px;
        & > a {
            @include small {
                grid-template-columns: unset;
                grid-template-rows: 200px 70px;
                background: $dark;
                border: solid 1.7pt $lighter;
                margin: 30px 17px;
                box-shadow: unset;
            }
            display: grid;
            grid-template-columns: 4.1fr 3.4fr;
            margin: 40px 40px 0 40px;
            max-width: 700px;
            background: $lighter;
            flex-direction: column;
            justify-content: space-between;
            border: solid 7.7pt #2a2a2d;
            box-shadow: inset -7pt 0 34pt #00000077;
            animation: fadeIn 700ms ease-in-out both 400ms;
            &:hover h3 {
                padding: 1.7em 0.1em;
            }
                & .shade {
                    @include small {
                        border: unset;
                        grid-column: unset;
                        grid-row: 1;
                        border-bottom: solid 10pt $lighter;
                    }
                    grid-column: 2;
                    position: relative;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    border-left: solid 17pt #2a2a2d;
                    background: $light;
                }
                & img {
                    @include small {
                        grid-column: unset;
                        grid-row: 1;
                        min-height: unset;
                    }
                    position: relative;
                    min-height: 247px;
                    opacity: 0.7;
                }
                & h3 {
                    @include small {
                        grid-column: unset;
                        grid-row: 2;
                        background: unset;
                    }
                    grid-column: 1;
                    grid-row: 1;
                    display: inline-block;
                    text-align: center;
                    align-self: center;
                    background: #2a2a2d;
                    color: $light;
                    font-size: 1.3em;
                    padding: 1em 0.1em;
                    transition: padding 240ms ease-in-out;
                }
                & .alt {
                    text-transform: lowercase;
                    color: #707070;
                    font-size: 14pt;
                    margin-right: 0.3em;
                }
        }
        @for $i from 1 through 10 {
            & > :nth-child(#{$i}) {
                animation-delay: $i * 140ms;
            }
            & > :nth-child(#{$i}) {
                @if ($i % 2 == 0) {
                    @include small {
                        grid-template-columns: unset;
                    }
                    grid-template-columns: 3.4fr 4.1fr;
                    box-shadow: inset 7pt 0 34pt #00000077;
                }
            }
            & > :nth-child(#{$i}) .shade {
                @if ($i % 2 == 0) {
                    @include small {
                        border: none;
                        border-bottom: solid 10pt $lighter;
                        grid-column: unset;
                        grid-row: 1;
                    }
                    grid-column: 1;
                    border-left: none;
                    border-right: solid 17pt #2a2a2d;
                }
            }
            & > :nth-child(#{$i}) h3 {
                @if ($i % 2 == 0) {
                    @include small {
                        grid-column: unset;
                        grid-row: 2;
                    }
                    grid-column: 2;
                }
            }
        }
}