.productList {
    @include flex-col;
    position: relative;
    z-index: 4;
    grid-column: 2;
    width: 100%;
        & > a {
            display: grid;
            grid-template-columns: 4.1fr 3.4fr;
            margin: 40px;
            max-width: 700px;
            background: $lighter;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: inset -7pt 0 37pt #000000a0;
            animation: fadeIn 700ms ease-in-out both 700ms;
            &:hover h3 {
                padding: 1.1em 0.1em;
            }
                & .shade {
                    grid-column: 2;
                    position: relative;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    border-left: solid 13pt $darker;
                    background: $light;
                }
                & img {
                    position: relative;
                    min-height: 30vh;
                    opacity: 0.7;
                }
                & h3 {
                    grid-column: 1;
                    grid-row: 1;
                    display: inline-block;
                    text-align: center;
                    align-self: center;
                    background: $darker;
                    color: $light;
                    font-size: 1.34em;
                    font-weight: 300;
                    padding: 0.47em 0.1em;
                    transition: padding 240ms ease-in-out;
                }
                & .alt {
                    text-transform: uppercase;
                    color: #545454;
                    font-size: 0.7em;
                    font-weight: 400;
                    margin-right: 0.3em;
                }
        }
        @for $i from 1 through 10 {
            & > :nth-child(#{$i}) {
                animation-delay: $i * 140ms;
            }
            & > :nth-child(#{$i}) {
                @if ($i % 2 == 0) {
                    grid-template-columns: 3.4fr 4.1fr;
                    box-shadow: inset 7pt 0 37pt #000000a0;
                }
            }
            & > :nth-child(#{$i}) .shade {
                @if ($i % 2 == 0) {
                    grid-column: 1;
                    border-left: none;
                    border-right: solid 13pt $darker;
                }
            }
            & > :nth-child(#{$i}) h3 {
                @if ($i % 2 == 0) {
                    grid-column: 2;
                }
            }
        }
}