.productInfo {
    @include small {
        grid-column: unset;
        width: 100%;
        padding: 0 17px 30px 17px;
    }
    position: relative;
    z-index: 4;
}
.productBox {
    @include small {
        max-width: unset;
        width: 100%;
        margin: 30px auto;
        border-width: 1.7pt;
    }
    @include flex-col;
    flex-direction: column;
    width: 100%;
    max-width: 770px;
    margin: 40px;
    background: $darker;
    border: solid 4pt $lighter;
    animation: fadeIn 440ms ease-in-out both 170ms;
        &__img {
            @include small {
                max-height: unset;
            }
            max-height: 370px;
        }
        &-data {
            @include small {
                grid-template-columns: unset;
                padding: 17px 17px 0 17px;
                border-top-width: 14pt;
            }
            display: grid;
            grid-template-columns: 1fr 1fr;
            background: $darker;
            height: 100%;
            padding: 30px 40px 30px 30px;
            border-top: solid 17pt $lighter;
                &__heading {
                    grid-column: 1;
                    display: inline-block;
                    color: $light;
                    font-size: 1.57em;
                    font-weight: 300;
                }
                &__text {
                    grid-column: 1;
                    max-width: 400px;
                    margin-top: 10px;
                    line-height: 1.3em;
                }
                &__price {
                    grid-column: 1;
                    font-size: 1.1em;
                    font-weight: 700;
                    margin-top: 14pt;
                }
                & .addToCart {
                    @include small {
                        grid-column: unset;
                        grid-row: unset;
                        margin: 30px 0;
                        padding: 4pt 0;
                        width: 130px;
                    }
                    cursor: pointer;
                    grid-column: 2;
                    grid-row: 3;
                    width: 140px;
                    justify-self: flex-end;
                    align-self: flex-end;
                    background: $dark;
                    color: $white;
                    font-size: 1.4em;
                    padding: 7pt 0;
                    border: none;
                    box-shadow: 7pt 7pt 0 $black;
                    transition: color 240ms ease-in-out;
                        & i {
                            transition: transform 240ms ease-in-out;
                        }
                        &:hover {
                            color: $light;
                        }
                        &:hover i {
                            transform: rotate(180deg);
                        }
                }
                & .selectLense {
                    @include small {
                        grid-column: unset;
                        grid-row: unset;
                        margin-top: 14px;
                        padding: 4.7pt;
                    }
                    cursor: pointer;
                    grid-column: 2;
                    grid-row: 1;
                    width: 200px;
                    justify-self: flex-end;
                    align-self: flex-start;
                    padding: 7pt;
                    background: $dark;
                    color: $white;
                    font-size: 13pt;
                    border: none;
                    box-shadow: 7pt 7pt 0 $black;
                    transition: color 200ms ease-in-out;
                        &:hover, &:focus {
                            color: $light;
                        }
                }
        }
}